<div class="card">
  <div class="card-header mb-1">
    <h4 class="card-title">
      Employee Testing
    </h4>
  </div>
  <div class="card-body">
      <div style="background-color: #57469c; padding: 1rem 0; text-align: center;">
        <%= image_tag("logo-ameriwide.png", width: 200) %>
      </div>

    <div class="card-block">

      <div class="row">
        <div class="col-md-6">

          <p>Pre-hire drug testing and criminal background screening is a great way to manage employment related risks.  Our program combines national criminal and county-level criminal searches, education and employment verifications, licensing checks along with substance abuse testing to screen for potential candidate issues.</p>
          <p>In addition to helping create a safe and secure work environment, criminal record checks can also produce other important benefits, such as:</p>
          <ul class="list-style-square">
            <li>Identifying potentially risky hires</li>
            <li>Helping safeguard your organization&rsquo;s reputation</li>
            <li>Protecting organizational assets</li>
            <li>Fostering trust among current employees</li>
          </ul>

          <br />

          <h5 class="mb-1">Employment Packages</h5>

          <h6>Standard - $64.00*</h6>
          <ul>
            <li>Social Security Number (SSN) trace</li>
            <li>Addresses, names and DOB verification</li>
            <li>National database criminal records search</li>
            <li>Federal criminal database search</li>
            <li>Healthcare exclusions (Standard)</li>
            <li>Global security watch lists</li>
            <li>National sex offender registry</li>
            <li>Unlimited county criminal record searches (based on 7-year address history)*</li>
          </ul>

          <h6>Premium - $92.00*</h6>
          <ul>
            <li>Social Security Number (SSN) trace</li>
            <li>Addresses, names and DOB verification</li>
            <li>National database criminal records search</li>
            <li>Federal criminal database search</li>
            <li>Healthcare exclusions (Premium)</li>
            <li>Global security watch lists</li>
            <li>National sex offender registry</li>
            <li>Unlimited county criminal record searches (based on 7-year address history)*</li>
            <li>Employment verification (1)*</li>
            <li>Education verification (1)*</li>
            <li>Professional license verification (1)*</li>
          </ul>

          <h6>Add-Ons</h6>
          <ul>
            <li>Healthcare exclusions check (Standard) <strong>$5.00</strong></li>
            <li>Healthcare exclusion check (Premium) <strong>$6.00</strong></li>
            <li>Employment verification* - <strong>$11.00</strong></li>
            <li>Education verification* - <strong>$11.00</strong></li>
            <li>Professional license verification* - <strong>$11.00</strong></li>
            <li>Federal criminal records search - <strong>$11.00</strong></li>
            <li>County Civil Search - <strong>$12.00</strong> <em><small>Search through dockets for any civil litigation involving your candidate in either upper and lower (Superior or Municipal) county courthouses.</small></em></li>
            <li>Federal Civil Search - <strong>$12.00</strong> <em><small>Nationwide or District level search for civil cases filed in United States District, Bankruptcy, and Appellate Courts.</small></em></li>
            <li>Bankruptcy Search - <strong>$10.00</strong> <em><small>The federal bankruptcy court is also a civil court and is searched to learn about any bankruptcies associated with an individual.</small></em></li>
            <li>Reference Check (Personal/Professional) - <strong>$11.00 per reference</strong></li>
          </ul>

          <p><em>*Access fees will be passed through to client at cost when assessed to AmeriWide by a court or other verification source.</em></p>

          <br />

          <h5>Social Media Searches </h5>
          <p>This report involves a combination of technology and human expert analytics to correctly identify a subject's online presence on the websites where adverse content is most likely to be found: Facebook, Twitter, Instagram, Pinterest, and LinkedIn. Once a subject's profile is correctly identified, publicly available content is reviewed for business-related behaviors -racism/intolerance, violence, potentially illegal activity, and sexually explicit material. A report is then created with a summary of screenshot examples of adverse, actionable material. This helps protect the company's brand and reputation.</p>

          <ul>
            <li>Social Media BASIC- <strong>$14.95</strong> (3 Year History)</li>
            <li>Social Media PRO- <strong>$19.95</strong> (7 Year History)</li>
            <li>Social Media Monthly Monitoring- <strong>Call for pricing</strong></li>
          </ul>

          <br />

          <h5>Drug Testing Options</h5>

          <ul>
            <li>5-Panel (Urine) - <strong>$45.00</strong> Amphetamines, Cocaine, Marijuana, Opiates, PCP</li>
            <li>10-Panel (Urine) - <strong>$62.50</strong> Amphetamines, Barbiturates, Benzodiazepines, Cocaine, Marijuana, Methadone, Methaqualone, Opiates, PCP, Propoxyphene</li>
          </ul>

          <br />

          <h5>Occupational Health Services</h5>
          <ul>
            <li>Physical examinations</li>
            <li>Tuberculosis Testing</li>
            <li>Titer Testing (which may include Hep A, Hep B, Hep C, Varicella, Rubella, and more)</li>
          </ul>

          <br/>

          <p>Custom employment packages are available. Please send an email to <a href="mailto:support@awscreeners.com">support@awscreeners.com</a> if you need additional screening options.</p>

          <h6>Get Started</h6>
          <p>Complete the form on this page to inquire about employment screening solutions for your organization.  DoneDesk has partnered with AmeriWide, a tech-enabled and FCRA-compliant Consumer Reporting Agency (CRA), to support you and your team.</p>

          <p><strong>Note:</strong> Screening tests should be ordered for candidates that have received an offer of employment contingent on successful completion of a background check / drug screening.</p>

          <br />

          <h4>Glossary</h4>

          <dl>
            <dt>SSN Trace + Associated Counties</dt>
            <dd>Finds names, aliases, and counties on record associated with the SSN provided by the candidate.  This step validates that the candidate’s SSN matches the legal name given and directs county-level criminal records searches.</dd>

            <dt>National Criminal Databases Search</dt>
            <dd>Search criminal records databases from all 50 states, including digitized records from Department of Corrections, Administrative Office of the Courts and county court records.  *Database coverage varies by state.</dd>

            <dt>7-Year County Criminal Court Search</dt>
            <dd>Looking at the counties the candidate has lived in, searches are performed at the county level for the most targeted, up-to-date and accurate information.</dd>

            <dt>Federal Criminal Databases Search</dt>
            <dd>Search across the 94 U.S. federal courts for violations of federal criminal law, such as tax evasion, fraud, embezzlement, identity theft, interstate trafficking, and kidnapping.</dd>

            <dt>Professional License Verification</dt>
            <dd>Very any domestic professional license, including issue date, expiration date, credential title, and current status.</dd>

            <dt>Employment Verification</dt>
            <dd>Verify employment details from current or previous employers provided by the applicant</dd>

            <dt>Education Verification</dt>
            <dd>Verify attendance dates, majors, and degrees earned for any high school, college or university in the U.S.</dd>

            <dt>Healthcare Exclusions (Standard)</dt>
            <dd>OIG, GSA, other federal sources, state Medicaid lists</dd>

            <dt>Healthcare Exclusion (Premium)</dt>
            <dd>OIG, GSA, other federal sources, state Medicaid lists, state Medical Board actions</dd>

            <dt>Sex Offender Registries</dt>
            <dd>National and state sex-offender databases</dd>

            <dt>Global Security Watch Lists</dt>
            <dd>Terrorist, OFAC, and other watch lists</dd>
          </dl>

        </div>
        <div class="col-md-5 offset-md-1">
          <%= form_tag(background_check_requests_path) do %>

            <h4 class="form-section">Returning Users</h4>
            <p class="mb-3"><a href="https://ameriwide.instascreen.net/sso/login.taz" class="btn btn-primary" target="_blank" data-confirm="Leave DoneDesk?">Login to AmeriWide &nbsp;<i class="icon-external-link-square"></i></a></p>

            <h4 class="form-section">New Users</h4>
            <p>Fill out this form to inquire about services with our partner, AmeriWide.</p>
            <p><strong>IMPORTANT:</strong> Please provide the name and email of the person who will be the admin for the account, NOT the candidate for the test.</p>
            <div class="form-group">
              <%= label_tag :practice_name, 'Practice Name' %>
              <%= text_field_tag :practice_name, current_account.name, class: 'form-control', required: true %>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= label_tag :first_name, 'Admin First Name' %>
                  <%= text_field_tag :first_name, nil, class: 'form-control', required: true %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= label_tag :last_name, 'Admin Last Name' %>
                  <%= text_field_tag :last_name, nil, class: 'form-control', required: true %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag :email_address, 'Admin Email' %>
              <%= text_field_tag :email_address, nil, class: 'form-control', required: true %>
            </div>

            <hr>

            <div class="form-group">
              <p>After submitting the form, you will hear back from AmeriWide shortly on next steps.</p>
              <%= button_tag 'Submit', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
