<%= render layout: '/shared/dropdown_layout' do %>
  <% document_group_presenter.when_user_can(:edit) do %>
    <%= link_to document_group_presenter.edit_path, class: 'dropdown-item' do %>
      <i class="icon-pen3"></i> Edit
    <% end %>
  <% end %>
  <% document_group_presenter.when_user_can(:show) do %>
    <%= link_to document_group_presenter.show_path, class: 'dropdown-item' do %>
      <i class="icon-eye6"></i> View
    <% end %>
  <% end %>
  <% document_group_presenter.when_user_can(:copy) do %>
    <%= link_to document_group_presenter.copy_path, class: 'dropdown-item' do %>
      <i class="icon-copy"></i> Copy
    <% end %>
  <% end %>
  <% document_group_presenter.when_user_can(:destroy) do %>
    <div class="dropdown-divider"></div>
    <%= link_to document_group_presenter.destroy_path, class: 'dropdown-item danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="icon-trash danger"></i> Delete
    <% end %>
  <% end %>
<% end %>
