<%= render layout: '/shared/modal', locals: { title: 'Assign this document group to...', id: modal_id } do %>
  <% if unassigned_offices.count > 0 %>
    <div class="alert alert-warning">
      Offices can only be assigned to one group, so assigning an office to a new group overwrites its existing assigned group.
    </div>
    <div>
      <p id="selected-count" data-default="Please select at least one office:"></p>
      <%= form_for(:document_group, url: assign_document_group_path) do |f| %>
        <div class="card card-block bg-faded visible-scroll always-visible height-200 ps-container ps-theme-dark ps-active-x ps-active-y">
          <ul class="list-unstyled">
            <% unassigned_offices.each do |office_presenter| %>
              <li>
                <div class="checkbox">
                  <label class="form-check-label font-medium-1 checkbox">
                    <%= check_box_tag 'office_ids[]',
                      office_presenter.id,
                      false,
                      {
                        class: 'form-check-input checkbox',
                        id: "office_id_#{office_presenter.id}"
                      }
                    %>
                    <%= office_presenter.name %>
                  </label>
                </div>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="form-actions right">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <%= button_tag 'Assign', type: 'submit', class: 'btn btn-primary', data: { disable_with: 'Please wait...' } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info">
      All offices are already assigned to this document group.
    </div>
  <% end %>
<% end %>
