<%= form_for document_form, url: form_action do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" id="basic-layout-colored-form-control"><%= action %> Office Document</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="form">
              <div class="row">
                <div class="col-md-6 offset-md-3">
                  <div class="form-body">
                    <%= render 'shared/form_errors', errors: document_form.errors.full_messages %>

                    <div class="form-group is-required">
                      <%= f.label :office_id, 'Office' %>
                      <%= f.collection_select :office_id,
                            current_account.offices,
                            :id,
                            :name,
                            { prompt: '', selected: params[:office_id] || @office_document.office_id },
                            { disabled: true, class: 'form-control' } %>
                    </div>

                    <%= render '/documents/form_fields', document_form: document_form, f: f  %>

                    <%= render '/shared/form_actions' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
