<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        <img class="rounded-circle" src="https://www.gravatar.com/avatar/?s=300&amp;default=mp" style="margin-top:-8px;" width="44" height="44">
      </div>
      <div class="col-md-10">
        <h3 class="card-title" id="basic-layout-colored-form-control">
          <%= @contact_details.first_name %>  <%= @contact_details.last_name %>
        </h3>
      </div>
    </div>
    <div class="heading-elements">
      <%= render layout: '/shared/dropdown_layout' do %>
        
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <th class="text-right width-25-per">Company</th>
          <td><%= @contact_details.office.name %></td>
        </tr>
        <tr>
          <th class="text-right">Email Address</th>
          <td><%= @contact_details.contact_email %></td>
        </tr>
        <tr>
          <th class="text-right">Street Address</th>
          <td><%= @contact_details.contact_address %></td>
        </tr>
        <tr>
          <th class="text-right">Contact Number 1</th>
          <td><%= @contact_details.contact_number_1 %></td>
        </tr>
        <tr>
          <th class="text-right">Contact Number 2</th>
          <td><%= @contact_details.contact_number_2 %></td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= link_to "/contacts/#{params[:id]}/edit", class: 'btn btn-primary' do %>
              <i class="icon-pen3 white"></i> Edit
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
