<%= render layout: '/shared/modal', locals: { title: 'Deactivate this course?', id: 'confirm-deactivate-modal' } do %>
  <div class="bs-callout-warning callout-bordered mb-1">
    <div class="media">
      <div class="media-left media-middle bg-warning px-2">
        <i class="icon-warning white font-medium-5"></i>
      </div>
      <div class="media-body p-1">
        <div><strong><%= @course_presenter.title %></strong></div>
        <p><%= @course_presenter.confirm_deactivate_message %></p>
      </div>
    </div>
  </div>
  <div>
    <%= form_tag(@course_presenter.deactivate_path, method: :put) do |f| %>
      <div class="form-actions right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <%= button_tag 'Yes, deactivate it', type: 'submit', class: 'btn btn-warning' %>
      </div>
    <% end %>
  </div>
<% end %>
